<div class="container-about">
    <h2>A Propos De Moi</h2>
    <div class="section-propos">
        <div class="propos-column">
            <p> <span class="flech">></span> <span class="text-bold">Email : </span> fawziouaheb@gmail.com</p>
            <p> <span class="flech">></span> <span class="text-bold">Téléphone : </span>06 03 52 43 51.</p>
            <p> <span class="flech">></span> <span class="text-bold">Ville : </span> Amiens.</p>
            <p> <span class="flech">></span> <span class="text-bold">Age : </span>23 ans</p>
        </div>
        <div class="propos-column">
            <p> <span class="flech">></span> <span class="text-bold">Dernier diplôme obtenu : </span> Master 2</p>
            <p> <span class="flech">></span> <span class="text-bold">Disponibilité : </span>Mi-septembre 2025</p>
            <p> <span class="flech">></span> <span class="text-bold">Mobilité : </span> France</p>

        </div>
    </div>
</div>
