<div class="Container-Experience">
   <div class="line-experience">
    <div class="round-exp1"></div>
    <div class="round-exp2"></div>
    </div>
    <div class="title-experience-1">
        <p>Apprentice - 2 Years</p>
    </div>
    <div class="text-experience-1">
        <p>experience  1</p>
    </div>
    <div class="text-experience-2">
        <p>experience 2</p>
   </div>

</div>