<section id="formations">
<div class="formation">
    <h2>Formations et Certificats</h2>
    <div class="formation-container">

        <div class="formation-section">
            <img class="formation-logo" src="/src/public/images/Université_de_Picardie_(logo).svg" alt="logo universite de jule verne picardie">
            <div class="formation-text">
                <p class="formation-date">2023-2025</p>
                <p class="formation-text-text"> Master 2 en Méthodes Appliquées à la Gestion des Entreprises(MIAGE). </p>

                <p class="formation-date">2020-2023</p>
                <p class="formation-text-text">Licence en Informatique.</p>
            </div>
        </div>

        <div class="formation-section">
            <img class="formation-logo" src="/src/public/images/bac_logo.jpg" alt="logo universite de jule verne picardie">
            <div class="formation-text">
                <p class="formation-date">2020</p>
                <p class="formation-text-text">Baccalauréat Série Mathématique.</p>
            </div>
        </div>
        
        <div class="formation-section">
            <img class="formation-logo" src="/src/public/images/anssi_logo.png" alt="logo universite de jule verne picardie">
            <div class="formation-text">
                <p class="formation-date">2024</p>
                <p class="formation-text-text">Follow-up certificate on SecNum academy.</p>
            </div>
        </div>




</div>
</div>
</section>