<div class="hobby" >
<h2>Mes Moments de Détente et de Loisirs</h2>
<div class="activities">
        <div class="elements" id="services">
            <div class="m-auto">

                    <span style="--i : 1">
                        <img src="/src/public/images/swimmer.png" alt="#">
                    </span>

                    <span style="--i : 2">
                        <img src="/src/public/images/lifting.png" alt="#">
                    </span>

                    <span style="--i : 3">
                        <img src="/src/public/images/roadtrip.png" alt="#">
                    </span>

                    <span style="--i : 4">
                        <img src="/src/public/images/Apersonsittin.png" alt="#">
                    </span>

            </div>
        </div>
    </div>

</div>