<div class="logiciel"> 
<h2>Outils et Technologies</h2>
  <div class="competences">

        <div class="competence">
            <img src="/src/public/icons/sap.png" alt="Icone Sap">
            <span>SAP</span>
        </div>

        <div class="competence">
            <img src="/src/public/icons/trello.png" alt="Icone Trello">
            <span>Trello</span>
        </div>
        
        <div class="competence">
            <img src="/src/public/icons/gestSup.jpg" alt="Icone Gest Sup">
            <span>Gest Sup</span>
        </div>

        <div class="competence">
            <img src="/src/public/icons/cisco.jpg" alt="Icone  Cisco prime">
            <span>Cisco Prime</span>
        </div>
        <div class="competence">
            <img src="/src/public/icons/zabbix.png" alt="Icone Zabbix">
            <span>Zabbix</span>
        </div>

        <div class="competence">
            <img src="/src/public/icons/wallix.png" alt="Icone Wallix">
            <span>Wallix</span>
        </div>
        <div class="competence">
            <img src="/src/public/icons/osi.png" alt="Icone Osi">
            <span>PI Vision, PI AF, PI DataLink</span>
        </div>
        
        <div class="competence">
            <img src="/src/public/icons/wireshark.webp" alt="Icone Wirshark">
            <span>Wirshark</span>
        </div>

        <div class="competence">
            <img src="/src/public/icons/Burp-Suite.png" alt="Icone Burp Suite">
            <span>Burp Suite</span>
        </div>

        <div class="competence">
            <img src="/src/public/icons/docker.svg" alt="Icone Docker">
            <span>Docker</span>
        </div>

    </div>
</div>

