<div class="project-pro">
    <h2>Projets Professionnels</h2>
    <div class="container-project">
    
        <img class="logo-tereos" src="/src/public/images/logo-tereos.png" alt="logo de Tereos">
        <img class="logo-loraWan" src="/src/public/images/LoRaWAN_Logo.svg.png" alt="Logo de la technologie LoraWan">
        <h3>Projet IoT</h3>

          </div>
</div>