<div class="skills">
    <h2>Skills</h2>
    <div class="skills-container">
        <div class="skills-section">
            <p>kj,hgn</p>
        </div>

        <div class="skills-section">
            <p>hggggggg</p>
        </div>

        <div class="skills-section">
            <p>hggggggg</p>
        </div>

        <div class="skills-section">
            <p>hggggggg</p>
        </div>

        <div class="skills-section">
            <p>hggggggg</p>
        </div>

        <div class="skills-section">
            <p>hggggggg</p>
        </div>
    </div>
</div>