<section id="skills">
<div class="skills">
    <h2>Skills</h2>
    <div id="progress-section" class="skills-container">
        <div class="skills-section">
            <h2>Virtualisation</h2>
            <div class="skill-with-progress">
                <p>VMWARE</p>
                <div class="progress-bar" id="progress-vmware">
                    <div class="progress"></div>
                </div>
            </div>
        </div>
        
        <div class="skills-section">
            <h2>Développement</h2>
            <div class="skill-with-progress">
                <p>PHP</p>
                <div class="progress-bar" id="progress-php">
                    <div class="progress"></div>
                </div>
            </div>
        </div>
        

        <div class="skills-section">
            <p>hggggggg</p>
        </div>

        <div class="skills-section">
            <p>hggggggg</p>
        </div>

        <div class="skills-section">
            <p>hggggggg</p>
        </div>

        <div class="skills-section">
            <p>hggggggg</p>
        </div>
    </div>
</div>
</section>