<section id="skills">
<div class="skills">
    <h2>Compétances</h2>
    <div id="progress-section" class="skills-container">


        
        {# skills développement #}
        <div class="skills-section">
            <h2>Développement</h2>
            
            {# skills PHP #}
            <div class="skill-with-progress">
                <p>PHP </p>
                <div class="progress-bar" id="progress-php">
                    <div class="progress"></div>
                </div>
            </div>

            {# skills JAVA #}
            <div class="skill-with-progress">
                <p>JAVA</p>
                <div class="progress-bar" id="progress-java">
                    <div class="progress"></div>
                </div>
            </div>

            {# skills C #}
            <div class="skill-with-progress">
                <p>C</p>
                <div class="progress-bar" id="progress-c">
                    <div class="progress"></div>
                </div>
            </div>

            {# skills JAVASCRIPT #}
            <div class="skill-with-progress">
                <p>JAVASCRIPT</p>
                <div class="progress-bar" id="progress-javascript">
                    <div class="progress"></div>
                </div>
            </div>
        </div>
        

        {# skills base des données #}
        <div class="skills-section">
            <h2>Base Des Données</h2>
            
            {# skills MYSQL #}
            <div class="skill-with-progress">
                <p>MYSQL</p>
                <div class="progress-bar" id="progress-mysql">
                    <div class="progress"></div>
                </div>
            </div>

            {# skills ORACLE #}
            <div class="skill-with-progress">
                <p>ORACLE</p>
                <div class="progress-bar" id="progress-oracle">
                    <div class="progress"></div>
                </div>
            </div>

            {# skills MARIADB #}
            <div class="skill-with-progress">
                <p>MARIADB</p>
                <div class="progress-bar" id="progress-mariadb">
                    <div class="progress"></div>
                </div>
            </div>
        </div>

        {# skills virtualisation #}
        <div class="skills-section">
            <h2>Virtualisation</h2>
            <div class="skill-with-progress">
                <p>VMWARE</p>
                <div class="progress-bar" id="progress-vmware">
                    <div class="progress"></div>
                </div>
            </div>

        </div>
        {# skills Système d'exploitation #}
        <div class="skills-section">
            <h2>Système d'exploitation</h2>
            <div class="skill-with-progress">
                <p>Kali-linux</p>
                <div class="progress-bar" id="progress-kali-linux">
                    <div class="progress"></div>
                </div>
            </div>
            <div class="skill-with-progress">
                <p>Windows</p>
                <div class="progress-bar" id="progress-windows">
                    <div class="progress"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>