{# la page d'acuuile #}
{% extends 'template/layoutGeneral.html.twig' %}
{% block title %} {% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
         
{% block content %}
{# 
<div class="ContainerProfile">
    <div class="ContainerProfileLeft">
        <img class="imgProfile" src="/src/public/images/profileImage.webp" alt="la photo de profile de Fawzi ouaheb">
        <img class="imgBitmogie" src="/src/public/images/bitmojie.png" alt="le bitmojoe de Fawzi ouaheb">
    </div>
    
    <div class="ContainerProfileRight">
        
        <div class="ContainerProfileNavbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Experience</a></li>
                <li><a href="#">Project</a></li>
            </ul>
        </div>

        <div class="ContainerProfilePresentation">
            <h2>Fawzi OUAHEB</h2>
            <h3>Network Engineer</h3>
            <p>Welcome to my portfolio to discover my experiences and projects</p>
        </div>

        <div class="ContainerProfileSocial">
            <button class="btn-donate">
                Download Cv
            </button>
        </div>
    </div>
            
</div> #}

{% include 'template/section/profile.html.twig'%}
{% include 'template/section/experience.html.twig' %}
{% include 'template/section/formation.html.twig' %}
{% include 'template/section/skills.html.twig' %}
{% include 'template/section/project.html.twig' %}
{% include 'template/section/projectp.html.twig'%}
{% include 'template/section/hobby.html.twig' %}
{% include 'template/section/about.html.twig'%}

{% endblock %}

{% block javascript %}
<script src="/src/public/javascript/index.js"></script>  
{% endblock %}
