.Container-Experience {
    border: solid 3px rgb(84, 179, 46);
    width: 100%;
    height: 800px;
    position: relative;
}
.line-experience {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(19, 200, 94);
    width: 10px;
    height: 80%;
    margin: 0 auto;
    border-radius: 3px;
}   
.round-exp1 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: brown;
    transform: translate(-50%, -15%);
    left: 50%;
    top: 15%;
}
.round-exp2 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(37, 98, 126);
    transform: translate(-50%, -85%);
    left: 50%;
    top: 70%;
}

.text-experience-1 {
    position: absolute;
    top: 28%;
    left: 53%;
    font-size: 18px;
    color: white;
    text-align: center;
    height: 200px;
    width: 40%;
    background-color: rgb(67, 64, 64);
    border-radius: 3%;
} 
.title-experience-1 {
    position: absolute;
    top: 19%;
    left: 53%;
    font-size: 1.55vw;
    color: white;
}
.title-experience-2 {
    position: absolute;
    top: 60.5%;
    left: 53%;
    font-size: 1.55vw;
    color: white;
}
.text-experience-2 {
    position: absolute;
    top: 70%;
    left: 53%;
    color: white;
    height: 200px;
    width: 40%;
    background-color: rgb(67, 64, 64);
    border-radius: 3%;
} 
.img-experience-1 {
    position: absolute;
    top: 20%;
    left: 47%;
    height: 12vh;
    width: auto;
    transform:translate(-100%, -20%);
}
.img-experience-2 {
    position: absolute;
    top: 63%;
    left: 47%;
    height: 5vh;
    width: auto;
    transform:translate(-100%, -10%);
}
.text-experience-2 p {
    font-size: 1rem;
    padding-left: 3vw; /* Ajoute un peu d'espace avant chaque phrase */
    text-indent: -10px; /* Indente la première ligne vers la gauche */
    margin-bottom: 1.5vh; /* Ajoute de l'espace entre les phrases */
}
.bullet-point {
    margin-right: 0.7vw;
    font-size: 1.5em; /* Taille du point */
    color: black; /* Couleur du point */
    width: 1em;
}

@media (max-width: 600px) {
    .img-experience-2 {
        position: absolute;
        top: 63%;
        left: 43%;
        height: 3.5vh;
        width: auto;
        transform:translate(-100%, -10%);
    }
    .img-experience-1 {
        position: absolute;
        top: 20%;
        left: 47%;
        height: 9vh;
        width: auto;
        transform:translate(-100%, -20%);
    }
    .title-experience-1 {
        position: absolute;
        top: 19%;
        left: 58%;
        font-size: 4vw;
        color: white;
    }
    .title-experience-2 {
        position: absolute;
        top: 60.5%;
        left: 58%;
        font-size: 4vw;
        color: white;
    }
    .text-experience-2 p {
        font-size: 0.7rem;
        padding-left: 3vw; /* Ajoute un peu d'espace avant chaque phrase */
        text-indent: -10px; /* Indente la première ligne vers la gauche */
        margin-bottom: 1.5vh; /* Ajoute de l'espace entre les phrases */
    }
    .bullet-point {
        margin-right: 0.7vw;
        font-size: 1em; /* Taille du point */
        color: black; /* Couleur du point */
        width: 1em;
    }
}
