.Container-Experience {
    border: solid 3px rgb(84, 179, 46);
    width: 100%;
    height: 800px;
    position: relative;
}
.line-experience {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffff;
    width: 10px;
    height: 80%;
    margin: 0 auto;
    border-radius: 3px;
}   
.round-exp1 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #141B42;
    transform: translate(-50%, -15%);
    left: 50%;
    top: 15%;
}
.round-exp2 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #141B42;
    transform: translate(-50%, -85%);
    left: 50%;
    top: 70%;
}

.text-experience-1 {
    position: absolute;
    top: 28%;
    left: 53%;
    font-size: 18px;
    color: white;
    text-align: center;
    height: 200px;
    width: 40%;
    background-color: #1E1E1E;
    border-radius: 3%;
} 
.title-experience-1 {
    position: absolute;
    top: 19%;
    left: 53%;
    font-size: 1.55vw;
    color: white;
}
.title-experience-2 {
    position: absolute;
    top: 60.5%;
    left: 53%;
    font-size: 1.55vw;
    color: white;
}
.text-experience-2 {
    position: absolute;
    top: 70%;
    left: 53%;
    color: white;
    height: 200px;
    width: 40%;
    background-color: #1E1E1E;
    border-radius: 3%;
} 
.img-experience-1 {
    position: absolute;
    top: 20%;
    left: 47%;
    height: 12vh;
    width: auto;
    transform:translate(-100%, -20%);
}
.img-experience-2 {
    position: absolute;
    top: 63%;
    left: 47%;
    height: 5vh;
    width: auto;
    transform:translate(-100%, -10%);
}
.text-experience-2 p {
    font-size: 1rem;
    padding-left: 3vw; /* Ajoute un peu d'espace avant chaque phrase */
    text-indent: -10px; /* Indente la première ligne vers la gauche */
    margin-bottom: 1.5vh; /* Ajoute de l'espace entre les phrases */
}
.bullet-point {
    margin-right: 0.7vw;
    font-size: 1.5em; /* Taille du point */
    color: black; /* Couleur du point */
    width: 1em;
}




.skills {
    padding: 50px;
    max-width: 1200px; 
    margin: 0 auto;
}

.skills h2 {
    text-align: center;
    margin-bottom: 7vh;
    font-size: 2em;
    color: white;
}

.skills-container {
    border: solid 3px rgb(14, 57, 211);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    margin-top: 20px;
}

.skills-section {
    flex: 1 1 calc(50% - 40px); 
    min-height: 200px;
    background: #1E1E1E;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.skill-with-progress p {
    color: white;
} 
.progress-bar {
    background-color: #2E2C2C;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    margin-top: 20px;
}

.progress {
    background-color: #141B42;
    height: 100%;
    border-radius: 10px 0 0 10px;
    width: 0%; /* Initialement à 0% pour l'animation */
    transition: width 2s ease-out; /* Utilisation de transition ici */
}


/* Media query pour petits écrans */
@media (max-width: 768px) {
    .skills-container {
        flex-direction: column; /* Afficher les sections en colonne */
    }
    .skills {
        padding: 18px;
        margin: 0 auto;
    }
    
}

.skills-section p {
    font-size: 1em;
    color: #333;
    line-height: 1.5;
}




@media (max-width: 600px) {
    .img-experience-2 {
        position: absolute;
        top: 63%;
        left: 43%;
        height: 3.5vh;
        width: auto;
        transform:translate(-100%, -10%);
    }
    .img-experience-1 {
        position: absolute;
        top: 20%;
        left: 47%;
        height: 9vh;
        width: auto;
        transform:translate(-100%, -20%);
    }
    .title-experience-1 {
        position: absolute;
        top: 19%;
        left: 58%;
        font-size: 4vw;
        color: white;
    }
    .title-experience-2 {
        position: absolute;
        top: 60.5%;
        left: 58%;
        font-size: 4vw;
        color: white;
    }
    .text-experience-2 p {
        font-size: 0.7rem;
        padding-left: 3vw; /* Ajoute un peu d'espace avant chaque phrase */
        text-indent: -10px; /* Indente la première ligne vers la gauche */
        margin-bottom: 1.5vh; /* Ajoute de l'espace entre les phrases */
    }
    .bullet-point {
        margin-right: 0.7vw;
        font-size: 1em; /* Taille du point */
        color: black; /* Couleur du point */
        width: 1em;
    }
}
